node_red/ch14-2-1.json
[{"id":"80c26f73.23a02","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"8ebfda5.eff8628","type":"file in","z":"80c26f73.23a02","name":"","filename":"/home/pi/Pictures/images/koala.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":360,"y":240,"wires":[["96811d4b.09333"]]},{"id":"298991fc.92724e","type":"inject","z":"80c26f73.23a02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["8ebfda5.eff8628"]]},{"id":"96811d4b.09333","type":"image","z":"80c26f73.23a02","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":560,"y":340,"wires":[]}]