node_red/ch14-2-3.json
[{"id":"939afb46.10d7b8","type":"ui_iframe","z":"364a5bad.90d384","group":"89952106.631b3","name":"","order":0,"width":0,"height":0,"url":"http://127.0.0.1:1880/hello","origin":"*","scale":100,"x":170,"y":620,"wires":[[]]},{"id":"12ddf97b.5dc0c7","type":"http in","z":"364a5bad.90d384","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":180,"y":560,"wires":[["ee578dee.fa41e"]]},{"id":"ee578dee.fa41e","type":"template","z":"364a5bad.90d384","name":"HTML網頁","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Hello</title>\n    </head>\n    <body>\n        <h1>我的Hello World!網頁</h1>\n    </body>\n</html>","output":"str","x":350,"y":560,"wires":[["f940420b.9b518"]]},{"id":"f940420b.9b518","type":"http response","z":"364a5bad.90d384","name":"","x":510,"y":560,"wires":[]},{"id":"89952106.631b3","type":"ui_group","name":"IFrame","tab":"5967b7da.b44598","order":3,"disp":true,"width":"6","collapse":false},{"id":"5967b7da.b44598","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]